.profil-container {
    display: flex;
    flex-wrap: wrap;
    top: 20px;
    left: 20px;
    gap: 20px; /* Spasi antar card */
    padding: 20px;
  }
  
  .card {
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px; /* Lebar card */
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center; /* Mengatur gambar dan konten ke tengah secara horizontal */
    text-align: center;
  }

  .card h4{
    color: #004E5E;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .image-container {
    display: flex;
    justify-content: center; /* Memastikan gambar berada di tengah secara horizontal */
    align-items: center; /* Memastikan gambar berada di tengah secara vertikal */
  }
  
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h3 {
    margin: 0;
    font-size: 1.5em;
    color: rgba(6, 76, 86, 0.5);
  }
  
  .card-content p {
    margin: 10px 0 0;
    color: rgba(6, 76, 86, 0.5);
    font-size: 15px;
  }

  .sub-content p{
    color: #004E5E;
    
    
  }
  .sub-content h6{
    color:  rgba(6, 76, 86, 0.5);
  
    padding-top: 10px;
  }

  .sub-content {
    padding-top: 15px;
    display: flex; /* Menggunakan display flex untuk mengatur posisi sejajar */
    justify-content: space-between;
    align-items: flex-start; /* Mengatur elemen untuk berada di sebelah kiri */
    border-bottom: 1px solid #ccc; /* Menambahkan garis bawah dengan warna abu-abu */
    padding-bottom: 5px; /* Memberikan ruang di bawah garis */
  }
  
  /* Media Queries for Responsive Design */
  
  /* Tablet Portrait and Above */
  @media (min-width: 600px) {
    .profil-container {
      gap: 30px; /* Spasi antar card untuk tablet dan di atasnya */
    }
  }
  
  /* Tablet Landscape and Above */
  @media (min-width: 768px) {
    .card {
      width: 250px; /* Lebar card untuk tablet landscape dan di atasnya */
    }
  }
  
  /* Small Desktop and Above */
  @media (min-width: 1024px) {
    .card {
      width: 300px; /* Lebar card untuk desktop kecil dan di atasnya */
    }
  }
  
  /* Mobile Devices */
  @media (max-width: 599px) {
    .profil-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .card {
      width: 90%;
    }
  }
  
  